
body {
    font-family: "Fredoka One", cursive;
    background-color: #041562;
    background: url(./assets/fondo2.jpeg) no-repeat center center fixed;
    background-size: cover;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo { 
    color: white;
    width: 210px;
    height: 50px;;
    font-size: xxx-large;
    justify-content: center;
}

.Subtitulo {
    color: white;
}


.tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;

}

.tarjeta-de-mokepon-c {
    width: 85px;
    height: 165px;
    padding: 10px;
    background-color: aqua;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
    text-align: center ;
    cursor: pointer;
}

.tarjeta-de-mokepon-c img{
    width: 63px;
    height: 85px;
}

.tarjeta-de-mokepon-t{
    width: 85px;
    height: 165px;
    padding: 10px;
    background-color: brown;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
    text-align: center ;
    cursor: pointer;

}

.tarjeta-de-mokepon-t img{
    width: 63px;
    height: 85px;
}

.tarjeta-de-mokepon-p{
    width: 85px;
    height: 165px;
    padding: 10px;
    background-color: red;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
    text-align: center ;
    cursor: pointer;
}

.tarjeta-de-mokepon-p img{
    width: 63px;
    height: 85px;

}

button {
    font-family: "Fredoka One", cursive;
    font-size: medium;
    height: 50px;
    width: 150px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

#boton-mascotas {
    color: white;
    border-radius: 20px;
    background-color: rgb(131, 164, 231);
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#vidas {
    align-content: center;
    width: -webkit-fill-available;
    text-align: -webkit-center;
    letter-spacing: normal;
        align-items: anchor-center;
            border-radius: 35px;
            background-color: rgba(0, 0, 255, 0.162) ;
            }
#mascota-jugador,#vidas-jugador  {
            font-weight: bold;
            color:rgb(0, 85, 255);
            }
#vidas-enemigo, #mascota-enemigo {
            font-weight: bold;
            color:red;
            }

#ataque-fuego{
            font-size: x-large;
            margin: 10px;
            padding: 10px;
            width: 140px;
            height: 60px;
            cursor: pointer;
            background-color: red;
            }
#ataque-agua {
            font-size: x-large;
            margin: 10px;
            padding: 10px;
            width: 140px;
            height: 60px;
            cursor: pointer;
            background-color: aqua;
             }
#ataque-tierra {
            font-size: x-large;
            margin: 10px;
            padding: 10px;
            width: 140px;
            height: 60px;
            cursor: pointer;
            background-color: brown;
        }
#mensajes {
            font-family: "Jersey 20", sans-serif;
            display: flex;
            font-weight: 400;
            display: flex;
            color:white;
            background: #0004ff66;
            padding: 0px 0px;
            margin: 40px 220px 40px 200px;
            text-align: center;
            justify-items: center;
            border-radius: 35px;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column-reverse;

 }
 #ataqueJugador{
            color: rgb(131, 164, 231);
}
#ataqueEnemigo {
    color: red;
}
input {
    display: none;
}
